<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock title %}

{% block css_files %}

{% endblock css_files %}

{% block content %}
{% comment %}
<h1>Edit Student</h1>
<form method="post">
  <!-- prettier-ignore -->
  {% csrf_token %} 
  {{ form.as_p }}
  <button type="submit">Save Changes</button>
</form>
{% endcomment %}

<section>
  <div class="row justify-content-center m-0">
    <form class="p-4 border border-dark rounded col-5 mt-4" method="POST">
      {% csrf_token %}
      <h3 class="text-center">Edit Student Data</h3>
      <div class="m-2">
        {% for form_field in form %}
        <div class="">
          <div class="m-1">
            <!-- prettier-ignore -->
            {{ form_field.label_tag }}
          </div>
          <!-- prettier-ignore -->
          {{ form_field }}
          <div class="m-1">
            <!-- prettier-ignore -->
            {{ form_field.errors }}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-outline-dark">Edit</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
